<div id="box">
  <div class="aimage">
    <% if @user.img_url %>
  <img src="<%= @user.img_url %>"/>
  <% else %>
    <img src="https://images.unsplash.com/photo-1510347626344-c74339961cc3?auto=format&fit=crop&w=723&q=80"/>
    <% end %>
</div>
  <div class="abox">
    <div class="adetails">
      <b style="margin-right:5px;"><%= @user.username.capitalize %></b>
      <span style="margin-left:80%;" class="lnr lnr-pencil" id="edit"></span>
    </div>
    <div class="acontent">
      ❝ <%= @user.bio %> ❞
    </div>
    <div class="hidden" id="your_id">
      <span style="margin-left:95%;" class="exit lnr lnr-cross"></span>
      <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :bio %>
      <%= f.text_field :bio %>
      <%= f.submit "Edit" %>
      <% end %>
   </div>
  </div>
</div>

<div id="box" style="border:1px solid #eeeeee;width:248px;">
  <div class="fbox">
    <span class="lnr lnr-pushpin" id="new-note"></span>
    <b class="fquestion">Notes </b>
      <div class="hidden" id="new-n">
        <span style="margin-left:95%;" class="exit lnr lnr-cross"></span>
        <%= form_for @note do |f| %>
        <%= f.label :note %>
        <%= f.text_field :note %>
        <%= hidden_field_tag "user_id", @user_id %>
        <%= f.submit "submit" %>
        <% end %>
     </div>
    <ul class="fanswer">
      <% @user.notes.each do |n| %>
      <li> <%= n.note %> </li>
      <% end %>
    </ul>
  </div>
  <div class="fbox">
    <span class="lnr lnr-car" id="new-bucketlist"></span><b class="fquestion">Bucketlist</b>

  <div class="hidden" id="new-b">
<span style="margin-left:95%;" class="exit lnr lnr-cross"></span>
    <%= form_for @bucketlist do |f| %>
    <%= f.label :item %>
    <%= f.text_field :item %>
    <%= f.label :category %>
    <%= f.select :category, [['Travel'], ['Goal'], ['Dream'], ['Misc']] %>
    <%= hidden_field_tag "user_id", @user_id %>
    <%= f.submit "submit" %>
    <% end %>
 </div>
    <ul class="fanswer">
      <% @user.bucketlists.each do |b| %>
      <li><%= b.item %> - <%= b.category %> </li>
      <% end %>
    </ul>
  </div>
  <div class="fbox">
    <span class="lnr lnr-paperclip" id="new-brainstorm"></span>
    <b class="fquestion">Brainstorms</b>
      <div class="hidden" id="new-bs">
        <span style="margin-left:95%;" class="exit lnr lnr-cross"></span>
        <%= form_for @brainstorm do |f| %>
        <%= f.label :idea %>
        <%= f.text_field :idea %>
        <%= f.label :category %>
        <%= f.select :category, [['Entrepreneur'], ['Music'], ['Literature'], ['Cinema'], ['Cuisine'], ['Personal']] %>
        <%= hidden_field_tag "user_id", @user_id %>
        <%= f.submit "submit" %>
        <% end %>
     </div>
    <ul class="fanswer">
      <% @user.brainstorms.each do |b| %>
        <li> <%= b.idea %> - <%= b.category %> </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="box">
  <div class="ucontent">
    <b class="fquestion">
      <a href="/journals/new" class="lnr lnr-bookmark"></a>
      Journal </b>
    <ul class="updates">
      <% @user.journals.each do |journal| %>
      <p style="margin-right:5px;"><b><%= journal.created_at.strftime("%m/%d/%Y") %></b></p>
      <% if journal.entry.length > 250 %>
    ❝ <%= truncate(journal.entry, length: 250) %> ❞
    <br>
    <%= link_to 'Read more', '', class: "read-more-#{journal.id}" %>
    <script>
      $('.read-more-<%= journal.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript journal.entry %>')
      })
    </script>
  <% else %>
    ❝ <%= journal.entry %> ❞
  <% end %>
    <hr class="mini-hr">
       <% end %>
    </ul>
  </div>
 </div>
