<header>
  <nav>
    <ul>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Journal", new_journal_path %></li>
      <li><%= link_to "Notes", new_note_path %></li>
      <li><%= link_to "Brainstorm", new_brainstorm_path %></li>
        <li><%= link_to "Bucketlist", new_bucketlist_path %></li>
    </ul>
  </nav>
</header>
